/* DESKTOP */

@media screen and (min-width: 768px) and (max-width: 1160px) {

    .container {
        width: 100%;
        overflow: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


/* TABLET */

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        overflow: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


    
}


/* MOBILE */

@media screen and (max-width: 480px) {

    .container {
        width: 100%;
        overflow: unset;
        display: flex;
        justify-content: center;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .why-us {

        margin: 0;
        padding: 3rem 0;
        background-color: black;
        
    }

    .steps {
        margin: 0;
        padding: 3rem 0;
    }
    
}
